/* comments */
.comment-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    margin-top: 40px;
}
.comment {
    width: 100%;
    margin: 0;
    margin: 2px 0px;
}
.comment-header {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.comment-header p {
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
}

.comment-body {
    display: grid;
    grid-template-columns: 1fr 20%;
    color: grey;
    text-align: left;


    margin: 2px 0px;
    padding-left: 2px;
    width: 100%;
}
.comment-body button{
    font-size: 0.8em;
    width: 20%;
}

.comment-body .btn-danger{
    width: 100px;
}

.user-thumb {
    width: 50px;

}

.form-group {
    width: 100%;
}
.post-container button {
    width: 20%;
}

.back-to-list{
    padding-bottom: 30px;
    color: #513C65;
}
