/* font imports */

@font-face {
  font-family: "elasis-rg";
  src: url("../assets/fonts/elasis/elasis-rg.ttf.woff") format("woff"),
    url("../assets/fonts/elasis/elasis-rg.ttf.svg#elasis-rg") format("svg"),
    url("../assets/fonts/elasis/elasis-rg.ttf.eot") format("eot");

  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;600;700&display=swap");

.mt-3, .my-3 {
  margin-top: 1rem !important;
  margin-bottom: 18px;
}

hr {
  height: 2px;
  color: grey;
}

/* AuthPage.jsx -  left content */
.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  align-self: center;
  width: 80%;
}
.subtitle {
  font-family: "elasis-rg";
  text-align: center;
  font-size: 20px;
  color: #d5b761;
}

/* HomePage.jsx card */

.illustration {
  align-self: center;
  width: 40%;
}

.card-content {
  width: 85%;
  margin-top: 20px;
}

.form-control textarea {
  width: 100%;
  border-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
  border: none;

}
.card-body p {
  word-wrap: break-word;
  text-align: justify;
}
.card-body p em {
  font-weight: 600;
  font-style: normal;
}
.card-body ul {
  display: flex;
  justify-content: center;
}

.card-body ul li {
  margin: 0px 10px;

  background-color: #111011;
  list-style-type: none;
  border-radius: 20px;
}

.card-body ul li a {
  color: #c5b381;
  margin: 2px 15px;
}
.card-body ul li :hover {
  color: #f5b60b;
  text-decoration: none;
}
.product-description {
  margin-top: 24px;
  margin-bottom: 24px;
}


/* comments */
/*
.comment-body button{
  font-size: 0.8em;
}*/
